<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cписок товаров</title>
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="title">
        <h1>Главная страница магазина</h1>
    </div>
    <div class="search">
        <div>
            <h3>Cортировка, поиск, фильтрация</h3>
        </div>
        <div>
            <form th:method="POST" th:action="@{/search}">
                <fieldset>
                    <legend>Выберите параметры для сортировки, поиска, фильтрации:</legend>
                    <label for="search">Поиск по наименованию</label>
                    <input type="text" id="search" name="search" th:value="*{value_search}">
                    <br>
                    <p>Цена, P</p>
                    <label for="ot">От</label>
                    <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
                    <label for="do">До</label>
                    <input type="text" name="do" id="do" th:value="*{value_price_do}">
                    <br>
                    <br>
                    <div>
                        <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                        <label for="ascending_price">Отсортировать по возрастанию цены</label>
                        <input type="radio" id="descending_price" name="price"
                               value="sorted_by_descending_price">
                        <label for="descending_price">Отсортировать по убыванию цены</label>
                        <p>Категория товаров: </p>
                        <input type="radio" id="furniture" name="contract" value="furniture">
                        <label for="furniture">Мебель</label>
                        <input type="radio" id="appliances" name="contract" value="appliances">
                        <label for="appliances">Бытовая техника</label>
                        <input type="radio" id="clothes" name="contract" value="clothes">
                        <label for="clothes">Одежда</label>
                    </div>
                </fieldset>
                <div>
                    <input class="button" type="submit" value="Найти">
                </div>
            </form>
        </div>
    </div>
    <div class="search1">
        <h3>Результат поиска, cортировки, фильтрации</h3>
        <div th:each="product : ${search_product}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            <hr>
        </div>
    </div>
    <div>
        <h3>Доступные товары: </h3>
        <div class="shop">
            <div class="card" th:each="product : ${products}">
                <div>
                <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
                </div>
                <div >
                <a class="name" th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                </div>
                <div >
                <p class="price" th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>