<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link th:href="@{/css/cart.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div style="font-size: 20px; text-align: center">
        <h3>Корзина товаров</h3>
    </div>
    <div div class="cart">
        <div th:each="product : ${cart_product}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <a class="name" th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            <p class="price" th:text="'Цена: ' + ${product.getPrice()}"></p>
            <button class="button">
            <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a>
            </button>
            <hr>
        </div>
    </div>
    <div>
        <h3 style="font-size: 26px; color: goldenrod" th:text="'Итоговая цена: ' + ${price}"></h3>
    </div>
    <div>
        <button class="button">
            <a href="/order/create">Оформить заказ</a>
        </button>
    </div>
</div>
</body>
</html>