
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="header">
        <div>
            <h1>Личный кабинет</h1>
        </div>
        <div>
            <form method="get" th:action="@{/cart}">
                <button class="button" type="submit">Корзина</button>
            </form>
        </div>
        <div>
            <form method="get" th:action="@{/orders}">
                <input class="button" type="submit" value="Заказы">
            </form>
        </div>
        <div>
            <form method="post" th:action="@{logout}">
                <input type = "hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}">
                <button class="button" type="submit">Выйти из личного кабинета</button>
            </form>
        </div>
    </div>
    <div class="search">
        <div>
            <h3>Cортировка, поиск, фильтрация</h3>
        </div>
        <div>
            <form th:method="POST" th:action="@{/person account/product/search}">
                <fieldset>
                    <legend>Выберите параметры для сортировки, поиска, фильтрации:</legend>
                    <label for="search">Поиск по наименованию</label>
                    <input type="text" id="search" name="search" th:value="*{value_search}">
                    <br>
                    <p>Цена, P</p>
                    <label for="ot">От</label>
                    <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
                    <label for="do">До</label>
                    <input type="text" name="do" id="do" th:value="*{value_price_do}">
                    <br>
                    <br>
                    <div>
                        <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                        <label for="ascending_price">Отсортировать по возрастанию цены</label>
                        <input type="radio" id="descending_price" name="price"
                               value="sorted_by_descending_price">
                        <label for="descending_price">Отсортировать по убыванию цены</label>
                        <p>Категория товаров: </p>
                        <input type="radio" id="furniture" name="contract" value="furniture">
                        <label for="furniture">Кроссовки</label>
                        <input type="radio" id="appliances" name="contract" value="appliances">
                        <label for="appliances">Кеды</label>
                        <input type="radio" id="clothes" name="contract" value="clothes">
                        <label for="clothes">Сланцы</label>
                    </div>
                </fieldset>
                <div>
                    <input class="button" type="submit" value="Найти">
                </div>
            </form>
        </div>
    </div>
    <div class="search1">
        <h3>Результат поиска, cортировки, фильтрации</h3>
        <div th:each="product : ${search_product}">
            <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
            <br>
            <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            <hr>
        </div>
    </div>
    <div>
        <div style="text-align: center; font-size: 20px">
            <h3>Доступные товары: </h3>
        </div>
        <div class="shop">
            <div class="card" th:each="product : ${products}">
                <div>
                    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
                </div>
                <div >
                    <a class="name" th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                </div>
                <div >
                    <p class="price" th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
                <div>
                    <button class="button">
                    <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
