<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link th:href="@{/css/card.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div>
        <h3 style="text-align: center; font-size: 20px">Информация о товаре: </h3>
    </div>
    <div >
        <div class="images" th:each="img : ${product.getImageList()}">
            <img th:src="'/img/' + ${img.getFileName()}">
        </div>
    </div>
    <div class="title">
        <div>
            <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
        </div>
        <div>
            <p th:text="'Описание: ' + ${product.getDescription()}"></p>
        </div>
        <div>
            <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>
        <div>
            <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
        </div>
        <div>
            <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
        </div>
        <div>
            <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
        </div>
    </div>
</div>
</body>
</html>