body{
    background-color: #c5e8f1;
}

.search{
    background-color: rgba(95, 158, 160, 0.7);
    border: solid 2px rgba(95, 158, 160, 0.7);
    border-radius: 2px;
    box-shadow: 2px 2px 3px 3px blue;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: 12px;
}
.searchLabel{
    font-size: 16px;
}

.searchInput{
    width: 50px;
    height: 20px;
}
h3{
    font-size: 22px;
}
.result{
    background-color: #5f9ea0;
    font-size: 22px;
}

.button{
    background-color: #3b67a9;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:visited{
    color: white;
}
.button:hover{
    background-color: #1b203d;
    color: #e2cf9f;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.searchButton{
    background-color: #3b67a9;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.inf{
    font-size: 20px;
}