body{
    background-color: #c5e8f1;
}
.person{
    font-size: 22px;
}
.button{
    background-color: #3b67a9;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:visited{
    color: white;
}
.button:hover{
    background-color: #1b203d;
    color: #e2cf9f;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
