<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователях</title>
    <link th:href="@{/css/person.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
<h1>Информация о пользователях</h1>
    <div class="person" th:each="person : ${person}">
        <fieldset>
            <legend>
            <p th:text="'ID: ' + ${person.getId()}"></p>
            </legend>
            <p th:text="'login:' + ${person.getLogin()}"></p>
            <p th:text="'password: ' + ${person.getPassword()}"></p>
            <p th:text="'Роль: ' + ${person.getRole()}"></p>
            <div>
                <button class="button">
                    <a th:href="@{/admin/person_info/{id}(id=${person.getId()})}">Изменить роль пользователя</a>
                </button>
            </div>
        </fieldset>

    </div>
</div>
</body>
</html>